<h1>Casos confirmados</h1>

<table>
  <thead>
    <td>Pais</td>
    <td>Cidade</td>
    <td>Confirmados</td>
    <td>Última atualização</td>
  </thead>
  <tbody>
    <% @confirmed.each do |confirm| %>
    <tr>
      <td><%=confirm['countryRegion'] %></td>
      <td><%=confirm['provinceState'] %></td>
      <td><%=confirm['confirmed'] %></td>
      <td><%=Time.at(confirm['lastUpdate'].to_i/1000).strftime('%d/%m/%y - %H:%M:%S') %></td>
    </tr>
    <% end %>
  </tbody>
</table>

