<style>
body{
  background-color: #001;
  color: #fff;
}
h1{
  text-align: center;
  color: #fff;
  font-size: 70px;
}

h3 {
  font-size: 35px;
  color: #001;
}
span {
  font-size: 25px;
  color: #5F5E5F;
}
a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px 10px;
}
header{
  background-color: #111;
  padding: 10px;
  position: fixed;
  width: 100%;
}
</style>

<header>
  <a href="/" class="btn btn-dark">Voltar</a>
</header>
<br/>
<br/>
<br/>
<br/>


<h1>Mortes</h1>


<div class="container">
<table class="table" border >
  <thead>
    <tr class="bg-secondary" >
      <th scope="col">Países</th>
      <th scope="col">Estados/Províncias</th>
      <th scope="col">Mortes</th>
      <th scope="col">Última atualização</th>
    </tr>
  </thead>
  <tbody>
    <% @deaths.each do |confirm| %>
    <tr class="bg-white">
      <td><%=confirm['countryRegion'] %></td>
      <td><%=confirm['provinceState'] %></td>
      <td><%=confirm['confirmed'] %></td>
      <td><%=Time.at(confirm['lastUpdate'].to_i/1000).strftime('%d/%m/%y - %H:%M:%S') %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>